#clg{
	background-image:url(../pictures/Tlogo/clg.png);
	background-position: center;
	background-size: cover;
}
#flash{
	background-image:url(../pictures/Tlogo/flash.png);
	background-position: center;
	background-size: cover;
}
#koo{
	background-image:url(../pictures/Tlogo/koo.png);
	background-position: center;
	background-size: cover;
}
#pain{
	background-image:url(../pictures/Tlogo/pain.png);
	background-position: center center;
	background-size: cover;
}
#fnatic{
	background-image:url(../pictures/Tlogo/fnatic.png);
	background-position: center;
	background-size: cover;
}
#invic{
	background-image:url(../pictures/Tlogo/invic.png);
	background-position: center;
	background-size: cover;
}
#ahq{
	background-image:url(../pictures/Tlogo/ahq.png);
	background-position: center;
	background-size: cover;
}
#c9{
	background-image:url(../pictures/Tlogo/c9.png);
	background-position: center;
	background-size: cover;
}
#sk{
	background-image:url(../pictures/Tlogo/skt.png);
	background-position: center;
	background-size: cover;
}
#ed{
	background-image:url(../pictures/Tlogo/ed.png);
	background-position: center;
	background-size: cover;
}
#h2k{
	background-image:url(../pictures/Tlogo/h2k.jpg);
	background-position: center;
	background-size: cover;
}
#bt{
	background-image:url(../pictures/Tlogo/bt.jpg);
	background-position: center;
	background-size: cover;
}
#lgd{
	background-image:url(../pictures/Tlogo/ld.png);
	background-position: center;
	background-size: cover;
}
#kt{
	background-image:url(../pictures/Tlogo/kt.png);
	background-position: center;
	background-size: cover;
}
#tsm{
	background-image:url(../pictures/Tlogo/tsm.png);
	background-position: center;
	background-size: cover;
}
#or{
	background-image:url(../pictures/Tlogo/or.png);
	background-position: center;
	background-size: cover;
}